/* styles.css */
.root {
    -fx-font-family: "Arial";
}

.label-title {
    -fx-font-size: 26px;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

.label-content {
    -fx-font-size: 16px;
    -fx-text-fill: #555555;
    -fx-padding: 0 0 0 20px;
}

.tab-pane {
    -fx-tab-min-width: 100px;
    -fx-tab-max-width: 200px;
}


.button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #00CA4E;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #009E3E;
}

#quitButton {
    -fx-background-color: #FF605C;
}

#quitButton:hover {
    -fx-background-color: #8B1313;
}